<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        header {
            max-height: 135px;
        }
    </style>
</head>
<body>
<!-- Thymeleaf fragment -->
<header th:fragment="siteHeader(user)" style="max-height: 150px">
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="24" height="24" role="img" aria-label="Bootstrap" fill="white">
                        <use xlink:href="/icons/bootstrap-icons.svg#bootstrap"></use>
                    </svg>
                    LOGO
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a th:href="@{/}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1 nav-icon" width="24" height="24" aria-hidden="true"
                                 fill="white">
                                <use xlink:href="/icons/bootstrap-icons.svg#house-door"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1 nav-icon" width="24" height="24" aria-hidden="true"
                                 fill="white">
                                <use xlink:href="/icons/bootstrap-icons.svg#speedometer2"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1 nav-icon" width="24" height="24" aria-hidden="true"
                                 fill="white">
                                <use xlink:href="/icons/bootstrap-icons.svg#table"></use>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle d-flex align-items-center"
                           href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           style="gap: 0.25rem;">
                            <!-- Icon (same as original) -->
                            <svg class="bi d-block nav-icon" width="24" height="24" aria-hidden="true" fill="white">
                                <use xlink:href="/icons/bootstrap-icons.svg#grid"></use>
                            </svg>
                            <!-- Text -->
<!--                            Products-->
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="list-style: none; padding: 0;">
                            <ul>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1 nav-icon" width="24" height="24" aria-hidden="true"
                                 fill="white">
                                <use xlink:href="/icons/bootstrap-icons.svg#person-video"></use>
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search"/>
            </form>
            <div th:if="${user != null}">
                <div class="text-end" th:if="${user.isGuest()}">
                    <a th:href="@{/login}">
                        <button type="button" class="btn btn-light text-dark me-2">Login</button>
                    </a>
                                    <a th:href="@{/register}">
                    <button type="button" class="btn btn-primary">Sign-up</button>
                                    </a>
                </div>
                <div class="text-end" th:if="${not user.isGuest()}">
                    <span class="text-dark me-3">Welcome, <strong th:text="${user.firstName}">User</strong></span>
                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-outline-dark">Logout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
